@model Category

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category</h4>
                    <form asp-controller="Category" asp-action="Create" class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input maxlength="" minlength="" type="text" class="form-control" asp-for="Name">
                            <span class="text-danger my-1" asp-validation-for="Name"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
